/* Centramos todo en la pantalla */
.juego-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 50px;
}

/* La cuadrícula exacta de 4 filas x 8 columnas */
.tablero {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 2px; /* Pequeño espacio para crear las líneas del tablero */
  background-color: #333; 
  border: 2px solid #333;
}

/* Cada cuadro individual del tablero */
.casilla {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

/* El diseño base para convertir un cuadrado en un círculo perfecto */
.ficha {
  width: 45px;
  height: 45px;
  border-radius: 50%; 
  border: 2px solid #000;
  cursor: pointer;
  transition: transform 0.2s; /* Pequeña animación al interactuar */
}

.ficha:hover {
  transform: scale(1.1); /* Efecto de agrandado al pasar el ratón */
}

.ficha-negra {
  background-color: #222; /* Fichas del Agente */
}

.ficha-blanca {
  background-color: #eee; /* Fichas del Usuario */
}

/* Borde brillante cuando hacemos clic en una ficha para moverla */
.ficha-seleccionada {
  border: 3px solid #00d2ff;
  box-shadow: 0 0 10px #00d2ff;
}